.AboutUsRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  color: #484848;
}

.AboutUsRoute .us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
}

.AboutUsRoute .main-note {
  width: 100%;
  z-index: -5;
}

.AboutUsRoute h3 {
  font-family: "Brittany Signature", sans-serif;
  font-weight: 100;
  position: absolute;
  top: 15px;
  right: 70px;
  font-size: 30px;
  color: #e2a39b;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.AboutUsRoute .april-name {
  width: 150px;
  top: 18px;
  right: 75px;
  color: #658b92;
}

.AboutUsRoute .headshot-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30%;
}

.AboutUsRoute .bio {
  position: absolute;
  top: 100px;
  right: 48px;
  width: 260px;
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
}
