.Calendar {
  margin: 20px;
  background-color: rgba(228, 228, 228, 0.4);
  width: 70%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Calendar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 224px; /* > li width * 7 */
}
.Calendar a {
  text-decoration: none;
}

.Calendar .monthName {
  margin: 0;
  font-family: "Brittany Signature", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  font-size: 36px;
  margin-bottom: 10px;
  color: #484848;
}

.Calendar .index {
  margin: 0;
  color: #658b92;
  padding-left: 5px;
  font-size: 10px;
}

.Calendar li {
  border: #658b92 1px solid;
  color: #484848;
  width: 30px;
  height: 30px;
  list-style: none;
  background-color: white;
  position: relative;
}
.Calendar i {
  font-size: 16px;
  color: #e8a283;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
}

@media only screen and (min-width: 500px) and (max-width: 764px) {
  .Calendar ul {
    width: 364px;
  }

  .Calendar li {
    width: 50px;
    height: 50px;
  }

  .Calendar .index {
    font-size: 16px;
  }
  .Calendar i {
    font-size: 28px;
  }
}

@media only screen and (min-width: 764px) {
  .Calendar ul {
    width: 560px;
  }

  .Calendar li {
    width: 78px;
    height: 78px;
  }

  .Calendar .index {
    font-size: 20px;
  }
  .Calendar i {
    font-size: 40px;
  }
}

/* .Calendar .tooltip {
  list-style: none;
  position: relative;
} */

/* .Calendar .tooltip:before,
.Calendar .tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 5;
}

.Calendar .tooltip:before {
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #658b92 transparent;
  top: 41px;
  transform: translateY(20px);
}

.Calendar .tooltip:after {
  content: attr(data-tooltip);
  background: #658b92;
  color: white;
  width: 80px;
  height: 25px;
  font-size: 10px;
  font-weight: 400;
  top: 100%;
  left: 0px;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.Calendar .tooltip:hover:before,
.Calendar .tooltip:hover:after {
  opacity: 1;
  transform: translateY(-2px);
} */
