.DashboardRoute .goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DashboardRoute h2 {
  text-align: center;
  font-family: "Brittany Signature", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #484848;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.DashboardRoute .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DashboardRoute .quote .main-note {
  width: 300px;
  position: relative;
}

.DashboardRoute .quote-p .author-p {
  position: absolute;
}

.DashboardRoute .quote .quote-p {
  top: 20px;
  transform: translateY(-250px);
  width: 230px;
  text-align: center;
  font-size: 20px;
}

.DashboardRoute .quote .author-p {
  top: 20px;
  transform: translateY(-270px);
  width: 50%;
  text-align: center;
  font-size: 16px;
}

.DashboardRoute .goals {
  padding: 0;
}
