.DashboardRoute {
  color: #484848;
}

.DashboardRoute h2 {
  text-align: center;
  font-family: "Brittany Signature", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.DashboardRoute .quote-note {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
  font-family: "Cutive Mono", monospace;
}

.DashboardRoute .main-note {
  width: 300px;
}

.DashboardRoute .quote {
  position: absolute;
}

.DashboardRoute .quote-p,
.DashboardRoute .author-p {
  font-weight: bold;
  width: 220px;
}

.DashboardRoute .quote-p {
  text-align: center;
  font-size: 18px;
}

.DashboardRoute .author-p {
  text-align: center;
  font-size: 16px;
}

.DashboardRoute .goals {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
