.GoalCard {
  font-size: 20px;
  list-style: none;
  margin-right: 10px;
  color: #484848;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 10px 10px 10px;
}

.GoalCard a {
  color: #484848;
  text-align: center;
  text-decoration: none;
}

.GoalCard img {
  width: 250px;
  box-shadow: 10px 10px 10px -10px rgb(97, 97, 97);
}

.GoalCard .goal-text {
  position: absolute;
  width: 250px;
  box-sizing: border-box;
  padding: 10px;
  top: 37px;
  position: absolute;
  text-align: center;
}

.GoalCard .detail-goal {
  position: relative;
}

.GoalCard .name {
  font-size: 20px;
  color: #658b92;
}

.GoalCard .link-name {
  font-weight: bold;
}

.GoalCard .link-name:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.GoalCard .fa-thumbs-up {
  position: absolute;
  bottom: 18px;
  left: 12px;
  font-size: 24px;
  color: #e2a39b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.GoalCard .fa-thumbs-up:hover {
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.5);
}

.GoalCard .count-likes {
  position: absolute;
  bottom: -2px;
  left: 43px;
  font-size: 18px;
}

.GoalCard .goal-result {
  font-size: 100px;
  background: rgba(232, 162, 131, 0.3);
  color: transparent;
  text-shadow: 4px 3px 3px rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0);
}

.GoalCard .result-text {
  font-family: "Arial Rounded MT Bold";
  transform: rotate(-18deg);
  margin: 0;
}

.GoalCard .missed {
  color: rgba(255, 0, 0, 0.34);
  font-size: 50px;
  position: absolute;
  top: 70px;
  left: 30px;
}

.GoalCard .complete {
  color: rgba(101, 139, 146, 0.6);
  font-size: 40px;
  position: absolute;
  top: 80px;
  left: 10px;
}

.GoalCard .fa-circle-question {
  position: absolute;
  right: 8px;
  top: 20px;
  color: #484848;
  font-size: 25px;
}

.GoalCard .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #658b92;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 20px;
  z-index: 1;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(2px);
}

.GoalCard:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: translateY(-2px);
}

/* .GoalCard .tooltip {
  position: relative;
}

.GoalCard .tooltip:before,
.GoalCard .tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
}

.GoalCard .tooltip:before {
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #658b92 transparent;
  top: 41px;
  transform: translateY(20px);
}

.GoalCard .tooltip:after {
  content: attr(data-tooltip);
  background: #658b92;
  color: white;
  width: 80px;
  height: 25px;
  font-size: 10px;
  font-weight: 400;
  top: 100%;
  left: 0px;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.GoalCard .tooltip:hover:before,
.GoalCard .tooltip:hover:after {
  opacity: 1;
  transform: translateY(-2px);
} */
