.Header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header img {
  width: 300px;
}

.Header .fa-bars {
  color: #484848;
  font-size: 40px;
  text-shadow: 4px 4px 5px #979595;
}

.Header .side-bar-container {
  /* display: none; */
}

.Header .side-bar-container ul {
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

.Header .side-bar-container a {
  text-decoration: none;
  color: #484848;
  text-align: right;
  font-size: 30px;
  font-weight: 100px;
  line-height: 50px;
}
