.Header .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header img {
  width: 300px;
}

.Header .fa-bars {
  color: #484848;
  font-size: 40px;
  text-shadow: 4px 4px 5px #979595;
}

.Header .side-bar-menu {
  background-color: #658b92;
  box-shadow: 0px 10px 10px #979595;
}

.Header .side-bar-container ul {
  list-style: none;
  text-align: right;
  margin-right: 30px;
  /* display: inline-block; */
}

.Header .side-bar-container a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 30px;
  font-weight: 100px;
  line-height: 50px;
}

.Header .side-bar-container a:hover {
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.Header .side-bar-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(1em);
  z-index: -1;
  transition: all 0.2s ease-in-out 0s;
}

.Header .side-bar-container:hover .side-bar-menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0s, 0s, 0.5s;
  z-index: 1;
}
