.hide {
  display: none;
}

.Header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header img {
  width: 300px;
}

.Header .fa-bars {
  color: #484848;
  font-size: 40px;
  text-shadow: 4px 4px 5px #979595;
  position: absolute;
  right: 20px;
  top: 20px;
}

.Header .side-bar-menu {
  background-color: #658b92;
  box-shadow: 0px 10px 10px #979595;
}

.Header .side-bar-container ul {
  list-style: none;
  text-align: right;
  margin-right: 30px;
  /* display: inline-block; */
}

.Header .side-bar-container a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 30px;
  font-weight: 100px;
  line-height: 50px;
}

.Header .side-bar-container a:hover {
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.Header .side-bar-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0px 10px 30px;
  transform: translateX(1em);
  z-index: -1;
  transition: all 0.2s ease-in-out 0s;
}

.Header .side-bar-container:hover .side-bar-menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0s, 0s, 0.5s;
  z-index: 1;
}

.Header .pop-up-container {
  background-color: rgba(53, 52, 52, 0.545);
  z-index: 6;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 6px 6px 10px #979595;
}

.Header .pop-up {
  width: 270px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header .fa-x {
  color: #e2a39b;
  font-size: 36px;
  margin: 10px;
  position: absolute;
  right: 10px;
}

.Header .fa-x:hover {
  text-shadow: 4px 4px 8px #979595;
}

.Header .greeting-p {
  font-family: "Brittany Signature", sans-serif;
  font-size: 75px;
  color: #484848;
  text-align: center;
  text-shadow: 4px 4px 5px #979595;
  margin: 30px 0px;
}

.Header .pop-up-p {
  text-align: center;
  width: 75%;
  font-size: 20px;
}

.Header .pop-up-btn {
  font-size: 20px;
  background-color: #658b92;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px 40px 0px;
}

.Header .pop-up-btn:hover {
  box-shadow: 4px 4px 8px #979595;
}

@media only screen and (min-width: 768px) {
  .Header .pop-up {
    width: 350px;
  }
}
