.HomeRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}

.HomeRoute img {
  width: 300px;
}

.HomeRoute .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.HomeRoute p {
  width: 75%;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #484848;
  line-height: 40px;

  /* text-shadow: 1px 1px 2px #4d4c4c; */
}

.HomeRoute .login-btn {
  background-color: #b5957e;
  border: none;
  color: #fff;
  width: 50%;
  padding: 8px;
  font-size: 24px;
  font-weight: 200;
  margin: 10px;
  box-shadow: 4px 4px 5px #979595;
}

.HomeRoute .login-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.HomeRoute .guest-btn {
  color: #658b92;
}

.HomeRoute .guest-btn:hover {
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

.HomeRoute .footer-p {
  text-align: center;
  font-size: 10px;
  line-height: 1.4;
}
