.HomeRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}

.HomeRoute img {
  width: 300px;
}

.HomeRoute .welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: rgba(228, 228, 228, 0.4);
  width: 350px;
  height: 330px;
  font-family: "Cutive Mono", monospace;
}

.HomeRoute p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
  color: #484848;
  line-height: 40px;
  font-weight: 500;

  /* text-shadow: 1px 1px 2px #4d4c4c; */
}

.HomeRoute .login-btn {
  background-color: #b5957e;
  border: none;
  color: #fff;
  width: 350px;
  padding: 8px;
  font-size: 24px;
  font-weight: 200;
  margin: 10px;
  box-shadow: 4px 4px 5px #979595;
}

.HomeRoute .login-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.HomeRoute .guest-btn {
  color: #658b92;
}

.HomeRoute .guest-btn:hover {
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

.HomeRoute .footer-p {
  text-align: center;
  font-size: 10px;
  line-height: 1.4;
  width: 390px;
}

@media only screen and (min-width: 768px) {
  .HomeRoute .welcome {
    width: 430px;
  }

  .HomeRoute p {
    font-size: 24px;
  }

  .HomeRoute .login-btn {
    width: 430px;
  }
  .HomeRoute .footer-p {
    width: 800px;
  }
}
