.MeRoute {
  /* font family */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MeRoute h3 {
  padding-top: 20px;
}

.MeRoute .previous-btn {
  background-color: #e8a283;
  border: none;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.MeRoute .previous-btn:hover {
  box-shadow: 4px 4px 5px #979595;
}
