.MeRoute {
  /* font family */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MeRoute h3 {
  padding-top: 20px;
}

.MeRoute .previous-btn {
  background-color: #e8a283;
  border: none;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 4px #979595;
}

.MeRoute .previous-btn:hover {
  box-shadow: 4px 4px 6px #686666;
}
