.SummaryRoute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SummaryRoute .summary-text {
  background-color: #b5957e9c;
  width: 70%;
  margin: 10px 0 30px 0;
}

.SummaryRoute .summary-text p {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px 10px;
}

.SummaryRoute .btn {
  width: 150px;
  height: 40px;
  font-size: 20px;
  margin: 0 10px 20px 0;
}

.SummaryRoute .btn:hover {
  box-shadow: 10px 10px 10px -10px rgb(97, 97, 97);
}

.SummaryRoute .onAchieved {
  background-color: #658b92;
  border: none;
  color: white;
}

.SummaryRoute .achieved {
  background: none;
  border: 3px solid #658b92;
  color: #484848;
}

.SummaryRoute .missed {
  border: solid 3px #e8a283;
  background: none;
  color: #484848;
}

.SummaryRoute .onMissed {
  border: none;
  background-color: #e8a283;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .SummaryRoute .summary-text p {
    padding: 0 25px;
  }
}
