.TodaysCard {
  font-size: 20px;
  list-style: none;
  margin-right: 10px;
  color: #484848;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 10px 30px 10px;
}

.TodaysCard a {
  color: #484848;
  text-align: center;
  text-decoration: none;
}

.TodaysCard img {
  width: 250px;
  box-shadow: 10px 10px 10px -10px rgb(203, 203, 203);
}

.TodaysCard .fa-circle-check {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 32px;
}

.TodaysCard .goal-text {
  position: absolute;
  width: 250px;
  box-sizing: border-box;
  padding: 10px;
  top: 30px;
  position: absolute;
  text-align: center;
}

.TodaysCard .detail-goal {
  position: relative;
}

.TodaysCard .name {
  font-size: 20px;
  color: #658b92;
}

.TodaysCard .fa-thumbs-up {
  position: absolute;
  bottom: -15px;
  left: 12px;
  font-size: 28px;
}

.TodaysCard .fa-solid .fa-thumbs-up {
  color: #e8a283;
}

.TodaysCard .count-likes {
  position: absolute;
  bottom: -30px;
  left: 45px;
  font-size: 16px;
}
